* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



/* main */
main {
    display: block;

}


.hero-section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.hero h1 {
    text-align: flex-start;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* badges */
.badges {
    display: flex;
    gap: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.badges-form {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
}

/* separator */
.separator {
    width: 100%;
    height: 1px;
    background-color: #c4c1c1;
    margin-bottom: 24px;
}

/* Rezept Liste */

.calculate-section {
    width: 100%;
}


.recepie-head {
    margin-bottom: 30px;
}

/* table */
ul {
    width: 100%;
    margin: 30px 0px;
    padding: 0px;


}

li {
    margin: 0px;
    list-style-type: none;
    border-radius: 5px;
    padding: 10px;

}

/* preparation */
.preparation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    padding-top: 0;
}

.preparation-badge {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 90px;
    margin-bottom: 24px;
}

.preparation-title-margin {
    padding-top: 0;
}

/* profil */
.profil-img {
    width: 100px;
    height: 150px;
}

.profil-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.producer {
    font-size: 30px;
}



p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: rgb(2, 138, 2);
    text-decoration: underline;
}

.badge {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}

/* main */


.main-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.main-icons {
    display: flex;
    align-items: center;
    margin: 24px 0 48px 0;
    gap: 24px;
    padding: 5px;
}


.calc-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-button {
    display: flex;
}

#inputnum {
    padding: 8px 0 8px 1px;
    margin: 0;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
}

.button {
    background-color: rgb(9, 156, 41);
    color: #f0f0f0;
    margin: 0;
    padding: 8px 32px 8px 32px;
    border: 1px solid #f0f0f0;
}

ol {
    padding: 0;
}

li:nth-child(odd) {
    background-color: #f0f0f0;
}

.prep-icons {
    display: flex;
    margin: 0 0 24px 0;
    gap: 12px;
    padding: 5px;
}

.prep-badge {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    width: 170px;
}

.prep-guide {
    margin-bottom: 24px;
}

.recipe-profile {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 32px;
    margin-bottom: 80px;
    margin-top: 4px;
}

.profile-img {
    background-color: #fff;
    border: 1px solid;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    object-fit: cover;
}


@media(max-width: 640px) {

    main h1 {
        font-size: 24px;
    }

    .hero h1 {
        text-align: center;
    }


    .main-icons {
        flex-direction: column;
    }

    .calc-section {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #input-field {
        max-width: 80px;
        padding: 4px 0 4px 1px;
    }

    .button {
        padding: 4px 16px 4px 16px;
        max-width: 80px;
        display: flex;
        justify-content: center;
    }

    .prep-icons {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width: 500px) {
    .badges {
        flex-direction: column;
    }

    main h1 {
        font-size: 24px;
    }

    .producer {
        font-size: 24px;
    }
}

@media(max-width: 350px) {
    input {
        width: 60px;
    }
}