body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    
}
.headerLogo-img {
    height: 90px;
    padding: 0px 120px 0px 120px
}
h1,
h2 {
    text-align: center;
    padding: 24px 0 24px 0;
    margin: 0;
}

p {
    margin: 0;
}

.cupcake-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

    
h1{
    font-size: 32px;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(239,239,239);
    border-radius: 8px;
    margin: 5px;
    gap: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

.icons_img {
    height: 20px;
}

.main_container_icons {
    display: flex;
    align-items: center;
}

footer {
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    padding-inline: 120px;
}

.footerLogo {
    filter: brightness() invert();
    width: 170px;
}


.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.Icons {
    height: 35px;
    fill: white;
    vertical-align: middle;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px lightblue;

}

.social_side_by_side {
    display: flex;
    align-items: center;
}

.find_us {
    font-size: 10px;
}

.footercontent {
    display: flex;
    align-items: center;
}

.Kontakt,
.RezeptdesTagesLink,
.Impressum,
.Datenschutz {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-left: 1px solid #403B3B;
    text-decoration: none;
}

.footerLinks {
    display: flex;
    align-items: center;
}

