/* Header Section */

* {
    box-sizing: border-box;
}

.main-section {
    padding: 0px 16px;
}

.cupcake-img {
    width: 100%;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.badges {
    display: flex;
    gap: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.badges-form {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 110px;
}

.calc-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-button {
    display: flex;
}

#input-field {
    padding: 8px 0 8px 1px;
    margin: 0;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
}

.button {
    background-color: rgb(9, 156, 41);
    color: #f0f0f0;
    margin: 0;
    padding: 8px 32px 8px 32px;
    border: 1px solid #f0f0f0;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


button {
    background-color: green;
    color: white;
}

.recipe-head {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.icons_img {
    width: 20px;
    height: 20px;
}

.recipe-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
}

.main_recipe-property-group-icons {
    display: flex;
    align-items: center;
    gap: 20px;

}

.preparation-steps {

    display: flex;
    flex-direction: column;
}

.Icons-Group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
}

.recipe-property-group-details {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 8px;
}

.text-description {
    font-size: 18px;
    color: #333333;
    display: flex;
    align-items: center;
    text-align: center;

}


.separator {
    width: 100%;
    height: 1px;
    background-color: #c4c1c1;
    margin-bottom: 24px;
}

.portionen-input {
    display: flex;
    align-items: flex-start;
}

.preparation-section h3 {
    margin-top: 24px;
}

.step-text {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    background-color: #f0f0f0;
    ;
    border-radius: 5px;
}


.step-text {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 40px;
}

.profil-container {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
}

.profil-img {
    background-color: #fff;
    border: 1px solid;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    object-fit: cover;
}

.profil-container {
    display: flex;
    align-items: center;
}

.producer {
    font-size: 30px;
}

ul {
    width: 100%;
    padding-left: 0px;
}

li {
    list-style-type: none;
    padding: 12px;
    border-radius: 10px;
}

.ingredients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 70px;

}

ul li:nth-child(odd) {
    background-color: #f0f0f0;
}

p {
    display: inline;
}

.preparation-badge {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 180px;
    margin-bottom: 24px;
}

/* media section*/

@media (max-width: 500px) {
    .Icons-Group {
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .portionen-input {
        padding: 20px 60px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }



    .producer {
        font-size: 15px;
    }

    .badges {
        flex-direction: column;
    }

    .hero {
        align-items: center;
    }

    .recipe-description {
        align-items: center;
    }

    .calc-section {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #input-field {
        max-width: 80px;
        padding: 4px 0 4px 1px;
    }

    .button {
        padding: 4px 16px 4px 16px;
        max-width: 80px;
        display: flex;
        justify-content: center;
    }
}