.cupcake-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
body {
    padding-left: 50px;
    padding-right: 50px;
}
h1{
    font-size: 32px;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(239,239,239);
    border-radius: 8px;
    margin: 5px;
    gap: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

.icons_img {
    height: 20px;
}

.main_container_icons {
    display: flex;
    align-items: center;

}