/* Header Section */

header {
    padding: 120px 120px 120px 120px;
    justify-content: center;
}

.headerLogo-img {
    height: 90px;
    
}

/* Main Section */

h1 {
    text-align: center;
    padding: 24px 0 24px 0;
    margin: 0;
}

.cupcake-img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

main {
    padding: 0 120px 32px 120px;
    box-shadow: 0px 8px 24px rgba(149, 159, 149, 0.2);
}

.recipe-description {
    text-align: left;
    padding: 32px 0 0px 0;
}
button {
    background-color: green;
    color: white;
}

.icons_img {
    width: 20px;
    height: 20px;
}
.recipe-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main_recipe-property-group-icons {
    display: flex;
    align-items: center;
    gap: 20px;
  
}
.Icons-Group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
}
.recipe-property-group-details {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 8px;
}
.text-description {
    font-size: 18px;
    color: #333333;
    padding: 0px 220px 0px 220px;
    text-align: center;
}
.separator {
    background-color: #c4c1c1;
    width: 100vw;
    height: 1px;
    margin-bottom: 30px;
}

.recepie-head {
    padding: 30px 120px 32px 120px;
    gap: 16px;
}

.main-recipe-ingredients-tables {
    padding: 30px 120px 32px 120px;
    gap: 80px;
}
h2 {
    font-size: 25px;
    padding-bottom: 30px;
    font-weight: bold;
    display: flex;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    padding: 0px;
}

tr:nth-child(even) {
      background-color: #f0f0f0;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}
.step-text {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    background-color: #f0f0f0;;
    border-radius: 5px;
}

.preparation-section {
  
    padding: 30px 120px 32px 120px;
    gap: 16px;
}
.step-text {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 40px;
}







    


/* Footer Section */

