/* Header Section */



/* Main Section */
body{
    margin: 0;
}
h1 {
    text-align: center;
    padding: 24px 0 24px 0;
    margin: 0;
}


main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


button {
    background-color: green;
    color: white;
}

.recepie-head {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icons_img {
    width: 20px;
    height: 20px;
}
.recipe-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_recipe-property-group-icons {
    display: flex;
    align-items: center;
    gap: 20px;
  
}
.preparation-steps {
  
    display: flex;
    flex-direction: column;
}

.Icons-Group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 16px;
}
.recipe-property-group-details {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 8px;
}
.text-description {
    font-size: 18px;
    color: #333333;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    padding: 20px 70px;

}
.separator {
    background-color: #c4c1c1;
    height: 1px;
    margin-bottom: 50px;
    margin: 50px;
}

.portionen-input {
    padding: 20px 70px;
}

h2 {
    font-size: 25px;
    padding-bottom: 30px;
    font-weight: bold;
    display: flex;
}


h3 {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 12px 0x 12px;
}

.step-text {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    background-color: #f0f0f0;;
    border-radius: 5px;
}


.step-text {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 40px;
}
.profil-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profil-img {
    background-color: #fff;
    border: 1px solid;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    object-fit: cover;
}

.profil-container {
    display: flex;
    align-items: center;
}
    
.profile-section {
    margin: 50px 70px;
}

.producer {
    font-size: 30px;
}
ul {
    width: 90vw;
    padding-left: 0px;
}

li {
  list-style-type: none;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
}

.ingredients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 70px;
   
}

ul li:nth-child(odd) {
    background-color: #f0f0f0;
}

p {
    display: inline;
}

.preparation-section {
    margin: 20px 70px;
}

/* media section*/

@media (max-width: 500px) {
.Icons-Group {
    flex-direction: column;
    gap: 10px;  
    padding-bottom: 20px;
}
.portionen-input {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;
}

h3 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.producer {
    font-size: 15px;
}
}
@media (max-width: 368px) {

h1 {
    font-size: 23px;
}

.text-description {
    font-size: 15px;
    padding: 20px 20px;
}

.portionen-input {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;
}
h3 {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.producer {
    font-size: 15px;
}
}
