* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header,
footer {
    width: 100%;
}

/* main */


.hero-section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* badges */
.badges {
    display: flex;
    gap: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.badges-form {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 120px;
}

/* separator */
.separator {
    width: 100%;
    height: 1px;
    background-color: #c4c1c1;
    margin-bottom: 24px;
}

/* Rezept Liste */

.calculate-section {
    width: 100%;
}

button {
    background-color: rgb(9, 156, 41);
    color: #f0f0f0;
    margin: 0;
    padding: 8px 32px;
    border: 1px solid #f0f0f0;
}

#input-field {
    padding: 8px 0 8px 1px;
    margin: 0;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
}


.recipe-head {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.input-button-field {
    display: flex;
}

/* table */
ul {
    width: 100%;
    margin: 30px 0px;
    padding: 0px;


}

li {
    margin: 0px;
    list-style-type: none;
    border-radius: 5px;
    padding: 10px;

}

ul li:nth-child(odd) {
    background-color: #f0f0f0;
}

/* preparation */
.preparation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    padding-top: 0;
}

.preparation-badge {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 90px;
    margin-bottom: 24px;
}

.preparation-title-margin {
    padding-top: 0;
}

/* profil */
.profil-img {
    width: 100px;
    height: 150px;
}

.profil-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.producer {
    font-size: 30px;
}

@media(max-width: 640px) {
    .hero-section {
        align-items: center;
    }

    button {
        padding: 4px 16px 4px 16px;
        max-width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #input-field {
        max-width: 80px;
        padding: 4px 0 4px 1px;
}
}

@media(max-width: 500px) {
    .badges {
        flex-direction: column;
    }

    main h1 {
        font-size: 24px;
    }

    .producer {
        font-size: 24px;
    }
}

@media(max-width: 350px) {
    input {
        width: 60px;
    }
}