
header {
    background-size: cover;
    box-shadow: 0px 8px 24px rgba(149, 159, 149, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;

}

nav a:hover {
    color: green;
}

nav a:active {
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-thickness: 4px;


}


.logo-img {
    width: 170px;
    height: auto;
}

nav {
    display: flex;
    gap: 20px;
    padding-left: 200px;
}
