nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;

}

nav a:hover {
    color: green;
}

nav a:active {
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-thickness: 4px;
}


.logo-img {
    width: 170px;
    height: auto;
}

nav {
    display: flex;
    gap: 20px;
    padding-left: 200px;
}
