/* main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main img{
    width: 90vw;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* badges */
.badges{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.badges-form{
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
}
/* separator */
.separator{
    background-color: #c4c1c1;
    width: 100vw;
    height: 1px;
    margin-bottom: 30px;
}
/* main recepie */
.main-recepie{
    margin-left: 50px;

}
.recepie-head{
    
}
button{
    background-color: green;
    color: white;
}
