/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    width: 90vw;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* badges */
.badges {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.badges-form {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
}

/* separator */
.separator {
    background-color: #c4c1c1;
    width: 100vw;
    height: 1px;
    margin-bottom: 30px;
}

/* main recepie */


button {
    background-color: green;
    color: white;
}

.recepie-head {
    margin-bottom: 30px;
}

/* table */
table {
    border-collapse: collapse;
    width: 90vw;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 20px 0px;
}

td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
    object-fit: cover;

}

/* preparation */
.preparation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    object-fit: cover;
    margin-bottom: 30px;
}

.preparation-badge {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 80px;
}
/* profil */
.profil-img{
    width: 100px;
    height: 150px;
}
.profil-container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.producer{
    font-size: 30px;
}