/* main */
main {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    width: 90vw;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* badges */
.badges {
    display: flex;
    gap: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.badges-form {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
}

/* separator */
.separator {
    background-color: #c4c1c1;
    width: 100vw;
    height: 1px;
    margin-bottom: 24px;
}

/* Rezept Liste */


button {
    background-color: green;
    color: white;
    border: none;
    padding: 3px;
    margin-left: -4px;
}


.recepie-head {
    margin-bottom: 30px;
}

/* table */
ul {
    margin: 30px 0px;
    width: 90vw;
    padding-left: 0px;


}

li {
    margin: 0px;
    list-style-type: none;
    border-radius: 5px;
    padding: 10px;

}

ul li:nth-child(odd) {
    background-color: #f0f0f0;
}

/* preparation */
.preparation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    object-fit: cover;
    margin-bottom: 24px;
    padding-top: 0;
}

.preparation-badge {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 80px;
    margin-bottom: 24px;
}

.preparation-title-margin {
    padding-top: 0;
}

/* profil */
.profil-img {
    width: 100px;
    height: 150px;
}

.profil-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.producer {
    font-size: 30px;
}

@media(max-width: 500px){
    .badges{
        flex-direction: column;
    }
    main h1{
        font-size: 24px;
    }
    .producer{
        font-size: 24px;
    }
}
@media(max-width: 350px){
    input{
    width: 60px;
}
}