body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px 0px 120px;
}

.headerLogo-img {
    height: 90px;
}

h1,
h2 {
    text-align: center;
    padding: 24px 0 24px 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: rgb(2, 138, 2);
}

.clock-badge {
    background-color: rgb(207, 207, 206);
    width: 70px;
    padding: 3px;
    border-radius: 5px;

}