body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

h1,
h2 {
    text-align: center;
    padding: 24px 0 24px 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: rgb(2, 138, 2);
}

.clock-badge {
    background-color: rgb(207, 207, 206);
    width: 70px;
    padding: 3px;
    border-radius: 5px;
}

/*header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px 0px 120px;
}

.headerLogo-img {
    height: 90px;
}

/* main */

.main-section {
    padding: 0px 120px 0px 120px;
}

.main-img {
    width: 90vw;
    height: 250px;
    object-fit: cover;
}

.main-icons {
    display: flex;
    justify-content: row;
    gap: 10px;
    padding: 5px;
}

/*footer*/

footer {
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    padding-inline: 120px;
}

.footerLogo {
    filter: brightness() invert();
    width: 170px;
}


.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.Icons {
    height: 35px;
    fill: white;
    vertical-align: middle;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px lightblue;

}

.social_side_by_side {
    display: flex;
    align-items: center;
}

.find_us {
    font-size: 10px;
}

.footercontent {
    display: flex;
    align-items: center;
}

.Kontakt,
.RezeptdesTagesLink,
.Impressum,
.Datenschutz {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-left: 1px solid #403B3B;
    text-decoration: none;
}

.footerLinks {
    display: flex;
    align-items: center;
}