html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

header {
    box-shadow: 0px 8px 24px rgba(149, 159, 149, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 18px 0;
}

.header-inner {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.headerLogo-img {
    height: 90px;
}

h1 {
    padding: 48px 0 16px 0;
    margin: 0;
}

h2 {
    padding: 24px 0 16px 0;
    margin: 0;
}

p {
    margin: 0;
}

/* burger menü */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    padding: 24px;

}

.burger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    display: block;
    border-radius: 3px;
}

/* Hero Section */

.hero-recipe-description {
    gap: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-recipe-description a {
    width: 100px;
}

.hero-img {
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.hero-content {
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
    gap: 50px;
}

.hero button {
    border: none;
    padding: 5px;
    width: 100px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin: 0;
}

.hero {
    width: 100%;
}

.hero-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

/* hihi */
/* Croissant Cards */
.menu-section {
    background-color: #f0f0f0;

}

.card-row {
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.menu-section h2 {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}


/* Vergleich Section */
.compare-section {
    padding: 24px 0;
}

.compare-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.compare-section img {
    border-radius: 5px;
    width: 300px;
    height: 150px;
}

.compare-section-inner {
    display: flex;
    flex-direction: column;
}

.compare-section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.compare-content-paragraph {
    width: 70%;
}

.compare-section h2 {
    text-align: center;
}


/* footer section  */
.site-footer {
    background-color: #232323;
    color: #fff;
    padding: 24px 0;
    flex-shrink: 0;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footerLogo {
    filter: brightness() invert();
    height: 90px;
    margin-right: auto;
}


.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.Icons {
    height: 35px;
    fill: white;
    vertical-align: middle;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px lightblue;

}

.social_side_by_side {
    display: flex;
    align-items: center;
}

.find_us {
    font-size: 10px;
}

.footercontent {
    display: flex;
    align-items: center;
}

.Kontakt,
.RezeptdesTagesLink,
.Impressum,
.datenschutz {
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #403B3B;
}

.footerLinks {
    display: flex;
    align-items: center;
}

/* Resposive */


@media (max-width: 1290px) {


    .hero-recipe-description {
        gap: 40px;
    }

    .card-row {
        gap: 100px;
    }

    .burger {
        display: flex;
    }

    .header-inner nav {
        display: none !important;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background: white;
        padding: 20px;
    }

    body.nav-open .header-inner nav {
        display: flex !important;
    }

}




@media (max-width: 1000px) {
    .card-row {
        gap: 50px;
    }

    .card-img {
        height: 150px;
        width: 170px;
    }

    .hero-content {
        flex-direction: column;
        align-items: center;
    }

    .hero-recipe-description {
        align-items: center;
    }

    .hero-paragraph {
        align-items: center;
    }

    .hero-img {
        width: 300px;
    }

    .headerLogo-img {
        height: 70px;
    }

    .header-inner {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footerLogo {
        height: 70px;
    }

    .compare-content-paragraph {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 32px 50px;
    }

    .compare-section-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .compare-content {
        flex-direction: column;
    }

}


@media (max-width: 800px) {
    .card-row {
        flex-direction: column;

    }

    .Icons {
        height: 25px;
    }

    .footer-inner {
        padding-inline: 0px;
    }

    h2 {
        font-size: 20px;
    }
}

@media(max-width: 550px) {
    .headerLogo-img {
        height: 50px;
    }

    .footerLogo {
        height: 50px;
    }

    .Icons {
        height: 20px;
    }

    .socialMedia {
        flex-direction: column;

    }
}