html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

header {
    background-size: cover;
    box-shadow: 0px 8px 24px rgba(149, 159, 149, 0.2);
}

.header-inner {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    padding: 10px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


.headerLogo-img {
    height: 90px;
}

h1,
h2 {
    text-align: center;
    padding: 24px 0 24px 0;
    margin: 0;
}

p {
    margin: 0;
}

/* Hero Section */

.hero-recipe-description {
    gap: 120px;
    display: flex;
    flex-direction: column;
}

.hero-recipe-description a {
    width: 100px;
}

.hero-img {
    height: 300px;

    border-radius: 5%;
}

.hero-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 50px 120px 50px 120px;
}

.hero button {
    border: none;
    padding: 5px;
    width: 100px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin: 0;
}

/* Croissant Cards */
.menu-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f0f0f0;
    padding: 0 120px 32px 120px;

}

.card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card-img {
    height: 150px;
    width: 220px;
    object-fit: cover;
    border-radius: 5%;
}

/* Vergleich Section */
.compare-section {
    padding: 0 120px 32px 120px;
    max-width: 1440px;
    margin: 0 auto;
}

.compare-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hvsd-image img {
    height: 150px;
    width: auto;
    border-radius: 5%;
}



/* footer section  */

footer {
    background-color: #232323;
}

.footer-inner {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    padding-inline: 120px;
}

.footerLogo {
    filter: brightness() invert();
    width: 170px;
}


.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.Icons {
    height: 35px;
    fill: white;
    vertical-align: middle;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px lightblue;

}

.social_side_by_side {
    display: flex;
    align-items: center;
}

.find_us {
    font-size: 10px;
}

.footercontent {
    display: flex;
    align-items: center;
}

.Kontakt,
.RezeptdesTagesLink,
.Impressum,
.Datenschutz {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-left: 1px solid #403B3B;
    text-decoration: none;
}

.footerLinks {
    display: flex;
    align-items: center;
}
/* Resposive */
@media (max-width: 768px) {

    .hero-content,
    .compare-content {
        flex-direction: column;
    }
}

@media (max-width: 1200px){
    header nav{
        display: none;
    }
    .hero-recipe-description{
        gap: 40px;
    }
}