html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    
    
}
.headerLogo-img {
    height: 90px;
    padding: 0px 120px 0px 120px;
}
h1,
h2 {
    text-align: center;
    padding: 24px 0 24px 0;
    margin: 0;
}

p {
    margin: 0;
}

/* Hero Section */
.hero-img {
    height: 300px;
    
    border-radius: 5%;
}

.hero-content {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    
    padding: 50px 120px 50px 120px;
}

/* Croissant Cards */
.new-section {
    text-align: center;
    background-color: #f0f0f0;
    padding: 0 120px 32px 120px;
}

.card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card-img {
    height: 150px;
    width: auto;
    object-fit: cover;
    border-radius: 5%;
}

/* Vergleich Section */
.compare-section {
    padding: 0 120px 32px 120px;
}

.compare-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hvsd-image img {
    height: 150px;
    width: auto;
    border-radius: 5%;
}

/* Responsive */
@media (max-width: 768px) {

    .hero-content,
    .compare-content {
        flex-direction: column;
    }
}
/* footer section  */

footer {
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    padding-inline: 120px;
}

.footerLogo {
    filter: brightness() invert();
    width: 170px;
}


.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.Icons {
    height: 35px;
    fill: white;
    vertical-align: middle;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px lightblue;

}

.social_side_by_side {
    display: flex;
    align-items: center;
}

.find_us {
    font-size: 10px;
}

.footercontent {
    display: flex;
    align-items: center;
}

.Kontakt,
.RezeptdesTagesLink,
.Impressum,
.Datenschutz {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-left: 1px solid #403B3B;
    text-decoration: none;
}

.footerLinks {
    display: flex;
    align-items: center;
}

